<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Street-art</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Street-art</h1>
    <html>
      <head>
        <style>
          .item {
            max-width: 230px;
          }
          h1 {
            text-align: center;
            color: blue;
          }
          ul li {
            display: inline;
            padding: 15px;
            font-size: 17px;
            font-family: "Arial", sans-serif;
          }
        </style>
      </head>
      <body>
        <!--# echo var="date_local" -->
        <h1>Список street-объектов</h1>
        <!--#include virtual="/app/arts"-->

        <!--#include virtual="/app/street"-->
        <h2>Знаменитые авторы</h2>
        <!--#include virtual="/app/authors"-->
        <h3>Координаты street-arts</h3>
        <div id="coords"></div>
      </body>
      <template id="template">
        <div>
          {{#each authors}}
          <span>{{first}}</span>
          <span>{{first_coord}}</span>
          <span>{{second}}</span>
          <span>{{second_coord}}</span>
          <span>{{third}}</span>
          <span>{{third_coord}}</span>
          {{/each}}
        </div>
      </template>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.js"></script>
      <script>
        var template = document.getElementById("template").innerHTML;
        var renderAuthors = Handlebars.compile(template);
        document.getElementById("coords").innerHTML = renderAuthors({
          authors: [
            {
              first: "Jaba--",
              first_coord: "Франция , ",
              second: "Circle--",
              second_coord: "Италия ,",
              third: "optimus--",
              third_coord: "Кипр"
            }
          ]
        });
      </script>
    </html>
  </body>
</html>
